body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #e9e7e7af;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding-right: 30px;
}

.header h1{
    margin-left: 35px;
}

.search {
    position: absolute;
    margin-left: 350px;
    width: 350px;
    height: 38px;
    border-radius: 7px;
    border: 2px;
    padding-left: 15px;
    background-color: #e0dfdfaf;
    font-size: 15px;
}

.seleccionar-mesa{
    border: none;
    background-color: #009b00;
    color: white;
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
}

.seleccionar-mesa:hover {
    background-color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.button-action{
    
    font-size: 13px;
    text-decoration: none;
}

.sidebar {
    width: 100px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 70px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 488px;
    overflow-y: auto;
}

.sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: white;
    border: none;
    padding: 8px;
}

.sidebar button:hover{
    border-radius: 7px;
    border-color: aqua ;
    border:2px solid #009b00;
    transform: scale(1.1);
    color: #009b00;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px 50px;
    margin: 70px 8.5%;
    position: absolute;
    width: 60%;
    height: 489px;
    
}

.nav {
    display: flex;
    justify-content: center;
    gap: 37%;
    padding: 0;
    border-radius: 10px;
    height: auto;
}

.nav a {
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-mesas {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    border-radius: 10px;
    height: auto;
}

.nav-mesas a {
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-mesas a:hover{
    border-radius: 8px;
    border: 2px solid #009b00;
    color: #009b00 ;
    transform: scale(1.1);
}

.contenedor-food-drink{
    display: flex;
    justify-content: space-between; /* Opcional, ajusta la separación entre las secciones */
    flex-wrap: wrap;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin: 20px 0;
    height: 430px;
    overflow-y: auto;
    width: 49%;
}

.product-item:hover{
    border: 2px solid #009b00;
    transform: scale(0.5.0.5);
}

.product-item {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 230px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img{
    height: 90px;
    margin-top: 15px;
}

.product-item p, button{
    margin-top: 1px;
}

.agregar{
    border: none;
    width: 70%;
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

.agregar:hover{
    transform: scale(1.1);
    background-color: #cecece;
    color: black;
}

.cart {
    width: 23%;
    height: 489px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    position: absolute;
    margin-left: 74%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-2 {
    justify-content: space-between;
    display: flex;
}

.cart-2 :hover {
    background-color: #919191af;
    cursor: pointer;
}

.cart-2 button{
    display: flex;
    text-align: center;
    background-color: #e0dfdfaf;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.agg-cart {
    width: 110px;
    height: 37px;
    align-items: center;
    justify-content: center;
}

.regenered {
    width: 40px;
    height: 37px;
}

.divisor {
    border: none;
    height: 1px;
    background-color: rgb(201, 199, 199);
    width: 100%;
    margin: 10px auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-top: 170px;
    height: 90px;
}

.summary-item {
    justify-content: space-between;
    display: flex;
}

.proceder-pago {
    text-align: center;
}

.guardar {
    font-size: 17px;
    width: 250px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: #e0dfdfaf;
    border: none;
    padding: 10px;
    cursor: pointer;
    
}

.guardar:hover {
    background-color: #919191af;
}

.pagar {
    font-size: 17px;
    width: 250px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: #009b00;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.pagar:hover {
    background-color: black;
}

.tabla_platos{
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    position: absolute;
    display: flexbox;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 2px rgba(255, 255, 255, 0.5);
    margin-left: 13%;
    max-height: 358px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 40%;
}

.tabla_bebidas{
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    position: absolute;
    display: flexbox;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 2px rgba(255, 255, 255, 0.5);
    margin-left: 56%;
    max-height: 358px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: auto;       
    width: 40%;
}

tbody tr:nth-child(odd){    
    background-color: rgba(255, 255, 255, 0.6);;
}

table{
    width: auto ;
    table-layout: fixed;
    border-collapse:collapse;
    width: 100%;
    }
    
    h3{
        text-align: center;
    }

    thead{  
        position: sticky;
        background-color: rgba(255, 255, 255, 1); 
        backdrop-filter: blur(5px) grayscale(0.5);
        z-index: 1;
        top: 0;
    }
    
    th{
        padding: 17px 15px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    td{
        padding: 12px;
        border-bottom: solid 2px rgba(255, 255, 255, 0.6); 
    }
    
    tbody tr{
        cursor: pointer;
    }
    
    tbody tr:hover{
        background-color: rgba(0, 0, 0, 0.1);
        color: rgb(0, 0, 0);
    }
    
    
    .scroll-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .scroll-table th, .scroll-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    
    .scroll-table th {
        background-color: #f2f2f2;
    }

    .contenedor {
    position: absolute;
    display: flexbox;
    width: 30%;
    padding: 10px;
    background-color: #ffffff;
    align-items: center;
    margin-top: 140px;
    margin-left: 35%;
    border-radius: 5%;
    text-align: center;
  }
  
  .contenedor input[type="text"],
  [type="id"],
  [type="email"],
  [type="number"],
  [type="file"],
  select {
    padding: 10px;
    margin: 7px 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #009b00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto;
  }
  
  input[type="submit"]:hover {
    background-color: #000000;
    transform: scale(1.1);
  }
    

.container-grande {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 50%;
    min-inline-size: 650px;
    margin:200px 380px;
}

.container-pequeno {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 35%;
    height: 220px;
    border-radius: 10px;
    padding-top: 50px;
}

.container-pequeno:hover{
    background-color: rgba(255, 255, 255, 0.8); 
    transform: scale(1.1);
    cursor: pointer;
    color: #009b00;
    border: 2px solid #009b00 ;
}

.link{
    text-decoration: none;
}


.ocupada {
    border: 2px solid rgb(255, 0, 0);
}

.disponible {
    border: 2px solid rgb(0, 128, 0);
}

.reservada {
    border: 2px solid blue;
}

.mesa-id {
    font-size: 17px;
}

.mesas-list {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin: 20px 20px;
    height: 430px;
    overflow-y: auto;
}

.mesa:hover{
    transform: (1.1);
    cursor: pointer;
}

.mesa {
    text-align: center;
    border-radius: 10px;
    height: 150px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.button-action{
    margin-left: 20px;
}